# Python

vqa_env/

__pycache__

*.egg-info/

# macOS

.DS_Store

# logs
lightning_logs/


# data
MNIST
src/vqa/data/data/
data/edit_dist/*



src/vqa/TCN_siamese_net/*
src/vqa/wandb/* 
src/vqa/*.ckpt
src/vqa/slurm_*
TCN-library/*
src/vqa/checkpoints2/*
src/vqa/wandb/*
src/vqa/data/__MACOSX/*
*.ckpt
*.out
*/init_clusters.sh
*.png

*/checkpoint_binary_transformer/*
*.txt
src/vqa/.cache/*
src/vqa/cache/*
src/vqa/checkpoint_binary_transformer/
*.tsv
src/vqa/neg
src/vqa/pos
src/vqa/slurms/*
src/vqa/*.pkl
src/vqa/*.err
src/vqa/Experiments/*
src/vqa/checkpoint_binary_transformer_rev_compl/*
src/vqa/final_checkpoints/*
src/vqa/results_arch/*
src/vqa/temp_input_wuhan_ba1.fasta
src/vqa/temp_output_wuhan_ba1.fasta
src/vqa/*.fasta
